@import url('https://fonts.googleapis.com/css?family=Raleway');
.html{
    scroll-behavior: smooth;
}
.poiret{
    font-family: 'Raleway', sans-serif;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #fd7e14;
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.above{
    color: #fff;
    padding-top: 0;
    margin-top: 0;
    padding-left: 5%;
    height: 25px;
    width: 100vw; 
}
.under{
    top: 93%;
    background: #fff;
    position: absolute;
    color: #fff;
    width: 100%; 
}
.navbar{
    width: 100%; 
}
.navbar-dark .navbar-nav .nav-link{
    font-size: 1.2em;
}

.r_1,.r_2,.r_3,.e_1,.e_2,.e_3,.c_3{
    color: #ddd;
	animation: textAnima;
    animation-duration: 3.9s;
    animation-direction: alternate;
	animation-timing-function: linear;
	animation-delay: 1s;
	animation-iteration-count: infinite;
}

@keyframes textAnima {
	0%{
        color: rgba(233, 34, 34, 0.774);
        opacity: 0;
    }
    25%{
        color: rgba(233, 29, 182, 0.904);
        opacity: 0.5;
    }
	50%{
        color: rgba(27, 160, 236, 0.911);
        opacity: 1;
    }
    75%{
        color: rgb(72, 248, 2);
        opacity: 0.5;
    }
	100%{
        opacity: 0.75;
		color: rgb(243, 209, 17);
	}
}  

#textCol p a{
    color: #fff;
}

#cart .nlist:nth-child(odd) {
    background-color: rgba(229, 233, 31, 0.175);
 
}

/* For Sticky Navbar */ 
.sticky {
	z-index: 1;
	position: fixed;
    top: 0;
    width: 100%;
    border-top: 2px solid #ffd900;
    background: #fff;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}